<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="TimeStamp" value="2016-1-1 18:30:10.123" />
    <add key="RuntimeTimeStamp" value="2016-1-1 18:30:10.123" />
    <add key="Int" value="15" />
      <add key="TimeStampS" value="2016-1-1 18:30:10.123" />
    <add key="RuntimeTimeStampS" value="2016-1-1 18:30:10.123" />
  <add key="GuidV" value="f7f27a95-e93c-43a0-8d82-fb731fdec733" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
