<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.7.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.Cors" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net462" />
  <package id="Microsoft.Data.Sqlite" version="2.2.3" targetFramework="net462" />
  <package id="Microsoft.Data.Sqlite.Core" version="2.2.3" targetFramework="net462" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="2.0.1" targetFramework="net462" />
  <package id="Microsoft.Diagnostics.Tracing.TraceEvent" version="2.0.40" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.4.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Logging" version="5.4.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.4.0" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" />
  <package id="MySql.Data" version="8.0.15" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net462" />
  <package id="Npgsql" version="4.0.5" targetFramework="net462" />
  <package id="Oracle.ManagedDataAccess" version="18.6.0" targetFramework="net462" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.13" targetFramework="net462" />
  <package id="SQLitePCLRaw.core" version="1.1.13" targetFramework="net462" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.13" targetFramework="net462" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.13" targetFramework="net462" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.13" targetFramework="net462" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.13" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net462" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.4.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.2" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>